<a href="https://colab.research.google.com/github/sparsh2002/Complete_Machine_Learning/blob/master/Algorithms/2_Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv')

In [4]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
State = pd.get_dummies(df['State'] , drop_first = True)

In [7]:
df.drop(['State'] , axis = 1 , inplace = True )

In [8]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [10]:
df = pd.concat([df,State],axis=1)

In [11]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
X = df.drop(['Florida' , 'New York'] , axis = 1)

In [15]:
y = df[['Florida' , 'New York']]

In [16]:
X.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [18]:
y.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [19]:
X_train , X_test , y_train , y_test = train_test_split(X, y , test_size=0.33, random_state=42)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
model = LinearRegression()

In [24]:
model.fit(X_train,y_train)

LinearRegression()

In [25]:
y_pred = model.predict(X_test)

In [30]:
y_pred

array([[ 0.38077886,  0.30299719],
       [ 0.19662825,  0.42168865],
       [ 0.11672237,  0.46087174],
       [ 0.15748689,  0.29825169],
       [ 0.42027033,  0.29295662],
       [-0.11462589,  0.61998622],
       [ 0.2224362 ,  0.38943564],
       [ 0.26076708,  0.33502142],
       [ 0.0753518 ,  0.47618597],
       [ 0.04598246,  0.48252103],
       [ 0.36424823,  0.31550327],
       [ 0.31223554,  0.50312701],
       [ 0.14216346,  0.49815836],
       [ 0.43873088,  0.30604283],
       [ 0.44484253,  0.35916447],
       [ 0.11428437,  0.53900371],
       [ 0.21905043,  0.37785697]])

In [28]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [29]:
score

-0.08827102193840519